#canvas {
    border: 5px solid #505050;
    display: inline-block;
}

canvas {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

